<!-- header -->
<app-header></app-header>

<!-- main -->
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h3 class="mb-3 text-center">{{ DatoUnico.title }}</h3>
    </div>

    <div class="col-12">

      <div class="row mb-5">
        <div class="col-md-12 mb-3">
          <div class="card">
            <img class="img-fluid" alt="100%x280" src="{{ DatoUnico.image }}">
            <div class="card-body">
              <h4 class="card-title">{{ DatoUnico.title }}</h4>
              <p class="card-text" [innerHTML]="DatoUnico.description"></p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Añadido: {{ DatoUnico.price }} </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<app-footer></app-footer>
