<!-- header -->
<app-header></app-header>

<!-- main -->
<div class="container mb-4">
    <div class="row">
        <div class="col-md-4 mx-auto my-5" *ngFor="let noticia of Datos">
            <div class="card" [routerLink]="[ '/detalles',noticia.id]">
                <img class="card-img-top" src="{{ noticia.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{noticia.title}}</h5>
                    <p class="card-text">{{noticia.description}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Añadido: {{noticia.published}}</small>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<app-footer></app-footer>