<form>
    <div class="form-row">
        <div class="form-group col-md-12">
            <input type="text" class="form-control" id="inputCriterios" placeholder="Búsqueda...">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <select id="inputComunidad" class="form-control">
                <option disabled selected hidden>Tags...</option>
                <option>Noticias</option>
                <option>Tienda</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group">
                <input class="form-control" placeholder="Rango de fechas" name="dp" [(ngModel)]="model" ngbDatepicker
                    #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <fa-icon [icon]="iconCal"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <select id="inputState" class="form-control">
                <option>Valoración...</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <select id="inputState" class="form-control">
                <option>Extras...</option>
            </select>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="btnBuscar" class="btn btn-secondary">Buscar</button>
    </div>
</form>